.form-group__button-save_inactive{
  background-color: #E5E5E5;
  opacity: .2;
  color: #000;
  border: 1px solid #000;
}

.form-group__button-save:disabled{
  cursor: default;
}
.form-group__button-save_inactive:disabled{
  opacity: .2;
}
