.header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 880px;
  margin: 45px auto 40px;
  border-bottom: 1px solid rgba(54, 54, 54, 0.7);
}
@media (max-width: 920px) {
  .header{
    width: 95%;
  }
}
@media (max-width: 620px) {
  .header{
    width: 100%;
    margin-top: 28px;
    margin-bottom: 42px;
  }
}

