.login__button-save {
  background-color: #fff;
  margin: 186px 0 112px;
  height: 50px;
  border: none;
  border-radius: 2px;
  padding: 0;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  transition: .3s;
}

.login__button-save:hover{
  opacity: .85;
  cursor: pointer;
}
