.cards{
  max-width: 880px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fill, 282px);
  gap: 17px;
}
@media (max-width: 930px) {
  .cards{
    width: 581px;
    grid-template-columns: repeat(2, 282px);
  }
}
@media (max-width: 620px) {
  .cards{
    width: 282px;
    grid-template-columns: repeat(1, 282px);
    gap: 20px;
  }
}
