.profile{
  position: relative;
  max-width: 880px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  padding-bottom: 51px;
}
@media (max-width: 920px) {
  .profile{
    width: 95%;
  }
}
@media (max-width: 620px) {
  .profile{
    width: 282px;
    padding-bottom: 36px;
    flex-direction: column;
    align-items: center;
  }
}


