.item__like{
  background-image: url(../../../images/like.svg);
  border: 0;
  background-color: transparent;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-self: center;
  padding: 0;
  margin-right: 20px;
  width: 22px;
  min-height: 19px;
  transition: .3s;
}
.item__like:hover{
  opacity: .5;
  cursor: pointer;
}
