.header__burger-menu {
  display: none;
}
@media (max-width: 620px) {
  .header__burger-menu {
    display: block;
    width: 24px;
    height: 21px;
    margin: 0 30px 35px;
    background-image: url(../../../images/burger.svg);
    transition: 0.3s;
  }

  .header__burger-menu:hover {
    cursor: pointer;
    opacity: 0.6;
  }
}
