.popup__button-close{
  background-image: url(../../../images/Close-Button.svg);
  border: 0;
  background-color: transparent;
  padding: 0;
  display: block;
  position: absolute;
  width: 32px;
  height: 32px;
  right: -40px;
  top: -40px;
  transition: .3s;
}
.popup__button-close:hover{
  opacity: .6;
  cursor: pointer;
}
@media (max-width: 620px) {
  .popup__button-close{
    background-size: cover;
    width: 20px;
    height: 20px;
    right: 0;
    top: -36px;
  }
}
